*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.text hr {
    margin: 20px 0;
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

.clearfix::after{
    content: '';
    clear: both;
    display: block;
}



.topNavBar{
    padding: 16px 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: beige;
    
}

.topNavBar .topNavBar-inner .logo{
    font-weight: bold;
    font-size: 24px;
    font-family: "Arial Black";
    
}

.topNavBar .topNavBar-inner .logo .rs{
    margin-left: 20px;
    margin-right: 4px;
    float: left;
    color:RGB(224,101,103);
}

.topNavBar .topNavBar-inner .logo .card{
    float: left;
    color: RGB(154,157,162);
}
.topNavBar .topNavBar-inner{
    
    margin-right: 32px;
}
.topNavBar .topNavBar-inner nav{
    float: right;
    padding: 5px 0;
}



.topNavBar .topNavBar-inner nav ul li{
    float: left;
    list-style: none;
    margin-left: 34px;
}
.topNavBar .topNavBar-inner nav ul li a{
    color:rgb(61, 68, 81);
    font-size: 12px;
    padding: 6px 0;
    font-weight: bold;
    border-bottom:3px solid transparent;
}
.topNavBar .topNavBar-inner nav ul li a:hover{
    border-bottom:3px solid #E16567;
}
.banner{
    height: 600px;
    background:url(./guts.jpg) center center no-repeat;
}
.mask{
    height: 600px;
    background: rgba(0,0,0,0.7);
}

main{
    max-width: 940px;
    margin: 0 auto;
}

main .userCard{
    border:1px solid red;
    padding: 50px;
    background-color: #efefef;
}

main .userCard .textAndPicture .picture{
    float: left;
}

main .userCard .textAndPicture .text{
    float: left;
    width: 370px;
    margin-left: 55px;
}


 main .userCard .textAndPicture  .welcome{

     background: #E6686A;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    position: relative;
    margin-bottom: 10px;
 }

 
 main .userCard .textAndPicture  .welcome .triangle{
     width: 0px;
     height: 0px;
     display: block;
     border:10px solid transparent;
    border-left-color:#e6686a;
    border-top-width:0px;
    position: absolute;
    top: 100%;
    left: 4px;
    }

    main .userCard .textAndPicture h1{
        margin-top: 26px;
    }    

    main .userCard .textAndPicture dl{

    }

    main .userCard .textAndPicture dl dt{
        float: left;
        width: 30%;
        height: 20px;
        margin: 9px 0;
        font-weight: bold;
    }

    main .userCard .textAndPicture dl dd{
        float: left;
        width: 46%;
        margin: 9px 0;
        color: #9da0a7;
    }

    main .media{
        border:1px solid green;
        background: #e6686a;
        text-align: center;
    }